<!DOCTYPE html>
<html>
<head>
  <title>RestArea</title>
  <%= stylesheet_link_tag    "rest_area/application", :media => "all" %>
  <%= javascript_include_tag "rest_area/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
